# AWS CDK deployment
CDK_DEFAULT_ACCOUNT=123456789012
CDK_DEFAULT_REGION=us-west-2

# After first deploy, set these in the frontend .env
VITE_API_URL=https://xxxxxxxxxx.execute-api.us-west-2.amazonaws.com
VITE_COGNITO_USER_POOL_ID=us-west-2_xxxxxxxxx
VITE_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_COGNITO_DOMAIN=remedy-auth-xxxxxxxxx
VITE_S3_BUCKET=remedy-uploads-123456789012
